body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.adopt-card{
  margin: auto;
  margin-bottom: 4em;
}

.navbar-link{
  text-decoration: none;
  color: azure;
  padding: 0.6em;
  border-radius: 1em;
}

.navbar-link:hover{
  box-shadow: 2px 2px 1px rgb(48, 48, 141);
}

.titulo-seccion{
  font-family: 'Quicksand', sans-serif;
  color: #4773C4;
}